// color variables

// color functions
@function cfv400($color){
	@return adjust-color($color, $saturation:-20%, $lightness:7%);
}
@function cfv300($color){
	@return adjust-color($color, $saturation:-39%, $lightness:13%);
}
@function cfv200($color){
	@return adjust-color($color, $saturation:-59%, $lightness:23%);
}
@function cfv100($color){
	@return adjust-color($color, $saturation:-77%, $lightness:31%);
}
@function cfv50($color){
	@return adjust-color($color, $saturation:-99%, $lightness:40%);
}
@function cfv600($color){
	@return adjust-color($color, $hue:-2deg, $saturation:1%, $lightness:-3%);
}
@function cfv700($color){
	@return adjust-color($color, $hue: -3deg, $saturation:3%, $lightness:-8%);
}
@function cfv800($color){
	@return adjust-color($color, $hue: -5deg, $saturation:5%, $lightness:-13%);
}
@function cfv900($color){
	@return adjust-color($color, $hue: -9deg, $saturation:-20%10, $lightness:-21%);
}
@function cfa1($color){
	@return adjust-color($color, $saturation:-38%, $lightness:43%);
}
@function cfa2($color){
	@return adjust-color($color, $saturation:-4%, $lightness:42%);
}
@function cfa3($color){
	@return adjust-color($color, $saturation:28%, $lightness:42%);
}
@function cfa4($color){
	@return adjust-color($color,$hue: -4deg, $saturation:28%, $lightness:45%);
}
// basic prime colors
$primeColor1:#9c27b0;
$primeColor2:#f44336;
$primeColor3:#3f51b5;

// sub colors prime color 1
$primeColor1v400:cfv400($primeColor1);
$primeColor1v300:cfv300($primeColor1);
$primeColor1v200:cfv200($primeColor1);
$primeColor1v100:cfv100($primeColor1);
$primeColor1v50:cfv50($primeColor1);
$primeColor1v600:cfv600($primeColor1);
$primeColor1v700:cfv700($primeColor1);
$primeColor1v800:cfv800($primeColor1);
$primeColor1v900:cfv900($primeColor1);
$primeColor1a1:cfa1($primeColor1);
$primeColor1a2:cfa2($primeColor1);
$primeColor1a3:cfa3($primeColor1);
$primeColor1a4:cfa4($primeColor1);

// sub colors prime color 2
$primeColor2v400:cfv400($primeColor2);
$primeColor2v300:cfv300($primeColor2);
$primeColor2v200:cfv200($primeColor2);
$primeColor2v100:cfv100($primeColor2);
$primeColor2v50:cfv50($primeColor2);
$primeColor2v600:cfv600($primeColor2);
$primeColor2v700:cfv700($primeColor2);
$primeColor2v800:cfv800($primeColor2);
$primeColor2v900:cfv900($primeColor2);
$primeColor2a1:cfa1($primeColor2);
$primeColor2a2:cfa2($primeColor2);
$primeColor2a3:cfa3($primeColor2);
$primeColor2a4:cfa4($primeColor2);

// sub colors prime color 3
$primeColor3v400:cfv400($primeColor3);
$primeColor3v300:cfv300($primeColor3);
$primeColor3v200:cfv200($primeColor3);
$primeColor3v100:cfv100($primeColor3);
$primeColor3v50:cfv50($primeColor3);
$primeColor3v600:cfv600($primeColor3);
$primeColor3v700:cfv700($primeColor3);
$primeColor3v800:cfv800($primeColor3);
$primeColor3v900:cfv900($primeColor3);
$primeColor3a1:cfa1($primeColor3);
$primeColor3a2:cfa2($primeColor3);
$primeColor3a3:cfa3($primeColor3);
$primeColor3a4:cfa4($primeColor3);


.color1{
	color:$primeColor1;
}
.color1v400{
	color:$primeColor1v400;
}
.color1v300{
	color:$primeColor1v300;
}
.color1v200{
	color:$primeColor1v200;
}
.color1v100{
	color:$primeColor1v100;
}
.color1v0{
	color:$primeColor1v50;
}
.color1v600{
	color:$primeColor1v600;
}
.color1v700{
	color:$primeColor1v700;
}
.color1v800{
	color:$primeColor1v800;
}
.color1v900{
	color:$primeColor1v900;
}
.color1a1{
	color:$primeColor1a1;
}
.color1a2{
	color:$primeColor1a2;
}
.color1a3{
	color:$primeColor1a3;
}
.color1a4{
	color:$primeColor1a4;
}

.color2{
	color:$primeColor2;
}
.color2v400{
	color:$primeColor2v400;
}
.color2v300{
	color:$primeColor2v300;
}
.color2v200{
	color:$primeColor2v200;
}
.color2v100{
	color:$primeColor2v100;
}
.color2v0{
	color:$primeColor2v50;
}
.color2v600{
	color:$primeColor2v600;
}
.color2v700{
	color:$primeColor2v700;
}
.color2v800{
	color:$primeColor2v800;
}
.color2v900{
	color:$primeColor2v900;
}
.color2a1{
	color:$primeColor2a1;
}
.color2a2{
	color:$primeColor2a2;
}
.color2a3{
	color:$primeColor2a3;
}
.color2a4{
	color:$primeColor2a4;
}
