@import "foundation/settings/settings";
@import "foundation/foundation";
@include foundation-everything;

@import "color-variables";
@import "colorPalette";
@import "forms";

.color1{
	color:$primeColor1;
}
.color1v400{
	color:$primeColor1v400;
}
.color1v300{
	color:$primeColor1v300;
}
.color1v200{
	color:$primeColor1v200;
}
.color1v100{
	color:$primeColor1v100;
}
.color1v0{
	color:$primeColor1v50;
}
.color1v600{
	color:$primeColor1v600;
}
.color1v700{
	color:$primeColor1v700;
}
.color1v800{
	color:$primeColor1v800;
}
.color1v900{
	color:$primeColor1v900;
}
.color1a1{
	color:$primeColor1a1;
}
.color1a2{
	color:$primeColor1a2;
}
.color1a3{
	color:$primeColor1a3;
}
.color1a4{
	color:$primeColor1a4;
}

.color2{
	color:$primeColor2;
}
.color2v400{
	color:$primeColor2v400;
}
.color2v300{
	color:$primeColor2v300;
}
.color2v200{
	color:$primeColor2v200;
}
.color2v100{
	color:$primeColor2v100;
}
.color2v0{
	color:$primeColor2v50;
}
.color2v600{
	color:$primeColor2v600;
}
.color2v700{
	color:$primeColor2v700;
}
.color2v800{
	color:$primeColor2v800;
}
.color2v900{
	color:$primeColor2v900;
}
.color2a1{
	color:$primeColor2a1;
}
.color2a2{
	color:$primeColor2a2;
}
.color2a3{
	color:$primeColor2a3;
}
.color2a4{
	color:$primeColor2a4;
}
